%ul
  %li= link_to_unless_current "Introduction", {:controller =>"home", :action =>"index"}
  %li= link_to_unless_current "Basic Syntax", {:controller =>"home", :action =>"syntax"}
  %li= link_to_unless_current "Understanding Scope", {:controller =>"home", :action =>"scope"}
  %li= link_to_unless_current "Query Basics", {:controller =>"home", :action =>"query_basics"}
  %li= link_to_unless_current "Joins", {:controller =>"home", :action =>"joins"}
  %li= link_to_unless_current "Advanced Features", {:controller =>"home", :action =>"advanced"}
  %li= link_to_unless_current "Credits", {:controller =>"home", :action =>"credits"}
